*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #FAFAF8;
  
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  height: 80px;
  box-shadow: 10px 0px 2px gray;
}

header .logo{
  width: 43px;
}

header .header-title{
  font-weight: 400;
}
